.footer {
    height: 56px;
    justify-content: center;
    padding-top: 20px;
    background-image: linear-gradient(to bottom, #8f68d4, #9873d9, #a17ddd, #a988e2, #b293e6, #b293e6, #b293e6, #b293e6, #a988e2, #a17ddd, #9873d9, #8f68d4);
}