.bg-transparent {
  background-color: none;
}
.bg-white-transparent {
  background-color: rgb(255 255 255 / 16%);
}
.yellow {
  color: #f7ffa8 !important;
}
.trim {
  max-width: 600px !important;
  margin: auto;
  position: relative !important;
}
button.btn-create:hover {
  background-color: #6200ea;
}
::ng-deep .warning {
  background:#fc1818 !important;
  color: white !important;
  margin-top: 220px !important;
  .mat-simple-snackbar{
    font-size: 16px !important;
    justify-content: center !important;
  }
}
