.bg-transparent {
    background-color: none;
}
.bg-white-transparent {
    background-color: rgb(255 255 255 / 16%);
}
.yellow { 
    color: #f7ffa8!important;
}
.trim {
    max-width: 600px !important;
    margin:auto;
    position: relative !important;
}
button.btn-login:hover {
    background-color: #6200ea;
}