<div class="line">
  <mat-icon class="warning-icon">warning</mat-icon>
  <h1 mat-dialog-title>{{data.user | titlecase}}</h1>
  <mat-icon class="warning-icon">warning</mat-icon>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content class="content">
  <p>{{data.info}}</p>
</div>
<div mat-dialog-actions class="align-end">
  <button mat-stroked-button class="btn-cancel" (click)="onCancelClick()">
    Cancel
  </button>
  <button mat-stroked-button class="btn-ok" [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>
